*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }



.intro{
    
    
    max-width: 100vw;
    display: grid;
   
   
    height: 90vh;
    
    
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    background-color: rgba(128, 128, 128,0.3) ;
    
   
}

.introtext {
   
   
    text-align: center;
    font-size: 60px;
 }

 #zaidname{
    font-family: 'Caprasimo', cursive;
    text-shadow: 2px 2px 5px black;
    font-size: 80px;
 }
.introtext {
    text-align: center;
    margin-left: 2rem;
    font-size: 25px;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    width: 75%;
    margin-top: 20px;
    
    
}

.introtext h4{
    text-align: left;
    padding-top: 10%;
    font-size: 48px;
    font-family: 'Qwitcher Grypen', cursive;
}


.abouttxt{
   
    text-align: left;
    font-size: 17px;
    text-align: justify;
    padding-top: 5%;
    display: flex;
    
    
   
}
.trt{
    color: green;
    font-weight: 800;
    letter-spacing: 1.5px;
    font-size: 50px;
    background: -webkit-linear-gradient(#226d9b, #7e2d2d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
}






.line{
    grid-area: line;
    height: 8px;
    background-color: black;
    
}



/* Center the content and set background color */
.image {
    
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
    position: relative; /* Necessary for absolute positioning */
    display: flex;
    
    padding-top: 10vh;
 

  }
  
  /* Style for the pattern image */
  .pattern {
    
    background-image: url('../Images/pattern.png'); /* Replace with your pattern image URL */
    background-size: cover;
    height: 410px;
    width: 400px;
    
    z-index: 1; /* Ensure the pattern is below the photo */
    display: flex;
    

  }
  
  /* Style for your photo image */
  .zaidimg {
 
    width: 300px;
    height: 350px;
    margin-top: 0vh;
    left: 10%;
    background-image: url('../Images/zaidi-rmbg.png'); /* Replace with your photo image URL */
    background-size: cover;
    position: absolute;
    border-radius: 50%;
    z-index: 2; /* Ensure the photo is above the pattern */
    border-radius: 50%; /* Create a circular shape for the photo */
    transform: translate(0, -50%); /* Lift the photo image */
  }
  