/* dark light mode font */
.dl{ 
    font-size: 15px;
}

.zaid{
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    font-family: 'Bodoni Moda', serif;
    
   
}

.hover{
    
    text-decoration: none;
}
.hover:hover{
    cursor: pointer;
  
   
}
html {
    scroll-behavior: smooth;
  }


.navbar-nav li a{
    font-size: 16px;
    font-weight: 600;
}

.navbar-nav li a:hover{
   text-decoration: underline;
   font-weight: 700;
}


 /* Medium devices (tablets, 768px and up) */ 
 @media (max-width: 992px) { 
    .cv, .dl{
        display: none;
        

        
    }

 
} 