*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }

.main{
    background-image: linear-gradient(rgba(128, 128, 128,0.3), rgb(219, 232, 231),rgba(104, 20, 130, 0.3));
    height: 90vh;
}



.im:hover {
    transform:scale(1.02)
}

.services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(2, 50vh); */
    margin-left: 5%;
    
}
.services h2{
    font-family: 'Caprasimo', cursive;
    text-align: center;
    color:rgba(42, 116, 165, 0.655);
}
.welcome{
    text-align: center;
    padding-top: 30px;
    color: whitesmoke;
    text-shadow: 2px 2px 5px black;
    font-size: 40px;
    font:800;
}

.c1, .c2, .c3{
    min-height: 67vh;
}

.c1{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}


.c2{
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
}

.c3{
    grid-column: 3 / span 3;
    grid-row: 1 / span 1;
}

.card-text{
    font-size: 1rem;

}